@model SubscriptionManagement.Models.ViewModels.Plan.PlanViewModel

@{
    ViewData["Title"] = "Edit Plan";
}

<h2>Create Plan</h2>

<form asp-action="Edit" method="post">
    @Html.Partial("_PlanForm", Model)
</form>
