@model SubscriptionManagement.Models.ViewModels.User.UserViewModel

@{
    ViewData["Title"] = "Create User";
}

<h2>Create Plan</h2>

<form asp-action="Create" method="post">
    @Html.Partial("_UserForm", Model)
</form>
